body {
  margin-left: 200px;
  background-color: darkgrey;
  color : midnightblue;
    font-family: Calibri ;
}

ul.navbar {
  position:fixed;
  left: 15px;
  top: 30px;
  width: 120px;
}

ul.navbar li {
  margin: 5px 0;
  padding: 5px;
  border-right: 1px solid #17252a;
  border-top: 1px solid #17252a;
  border-left: 1px solid #17252a;
  border-bottom: 1px solid #17252a;
  border-style : dashed;
}

ul.navbar a {
  text-decoration: none
}

a:link {
  color: white;
}

a:visited {
  color: darkblue;
}

h1.title {
  text-align : center;
}

p.color1{
    color : midnightblue;
}

div.color2{
    color : purple;
}

div.color3{
    color : darkolivegreen;
}

p.nav a {
    text-decoration: none;
}

